In [12]:
import pandas as pd
df=pd.read_csv('flight_trajectory2_0.05.csv')
df2=df.iloc[:,0:5]
label=df.iloc[:,5]
df2.head()

      value_0   value_1    value_2  value_3    value_4
0  1607611017  32.73566 -117.19790        5   0.000000
1  1607611022  32.73670 -117.20169        8  74.575847
2  1607611026  32.73767 -117.20462       10  73.628164
3  1607611030  32.73884 -117.20779       12  80.945654
4  1607611035  32.74021 -117.21088       14  65.339972

In [ ]:
## SORTS CHANGE IN SIMILARITIES ##

import math

#df2 = df.iloc[:,0:8]

distances = []
first = []
second = []

for i in range (0,len(df2)-1):
    x = df2.iloc[i,1]
    #x = x.values
    y = df2.iloc[i+1,1]
    #y = y.values
    dis = abs(x-y)
    #dis = math.dist(x, y)
    distances.append(dis)
    first.append(i)
    second.append(i+1)

one = pd.DataFrame(distances, columns = ['distances'])
two = pd.DataFrame(first, columns = ['first'])
three = pd.DataFrame(second, columns = ['second'])

dis = pd.concat([one, two, three], axis=1)
dis_sort=dis.sort_values(by=['distances'])

In [ ]:
x = df2.iloc[0,0:2]
x = x.values
y = df2.iloc[1,0:2]
y = y.values
#dis = abs(x-y)
dis = distance.minkowski(x,y,p=1.5)
dis

In [13]:
from scipy.spatial import distance
from numpy.linalg import inv
import numpy as np

import math

#df2 = df.iloc[:,0:8]

distances = []
first = []
second = []

for i in range (0,len(df2)-1):
    x = df2.iloc[i,1:5]
    #x = x.values
    y = df2.iloc[i+1,1:5]
    #y = y.values
    #dis = abs(x-y)
    dis = distance.minkowski(x,y,2.5)
    #covariance = np.cov(x, y)
    #iv = inv(covariance)
    #dis = distance.mahalanobis(x,y,iv)
    distances.append(dis)
    first.append(i)
    second.append(i+1)

one = pd.DataFrame(distances, columns = ['distances'])
two = pd.DataFrame(first, columns = ['first'])
three = pd.DataFrame(second, columns = ['second'])

dis = pd.concat([one, two, three], axis=1)
dis_sort=dis.sort_values(by=['distances'])

In [14]:
CR = 0.05

dis_sort1 = dis_sort.reset_index(drop=True)
delete = math.ceil(len(dis_sort)*CR)
m = len(dis_sort) - delete
excluded = dis_sort1.iloc[m:len(dis_sort1),:]

first = excluded['first'].tolist()
second = excluded['second'].tolist()
both = first + second
df3 = df2.drop(df2.index[[both]])
dfwOexcluded = df3.reset_index(drop=True)

C:\Users\mikol\anaconda3\lib\site-packages\pandas\core\indexes\base.py:4616: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  result = getitem(key)

In [15]:
label = label.index[label == 1].tolist()
#label = label.tolist()

In [16]:
res = sum(ele in both for ele in label)
res

5

In [17]:
len(both)

34

In [ ]:
pd.set_option("display.max_rows", None, "display.max_columns", None)
#dis_sort1

In [18]:
seen = dis_sort1.iloc[0:len(dis_sort1)-delete,:]
q = seen['distances'].quantile(0.99)
possible_points=seen['distances']>=q
see = seen[possible_points]

     distances  first  second
318  48.341120    137     138
319  48.511915    186     187
320  49.084274    264     265
321  49.232875    151     152
322  49.327063    192     193

In [21]:
#Outputs the chunks based on greatest change in data

import numpy as np

see = see.reindex(index=see.index[::-1])
see = see.reset_index(drop=True)

h = len(see)
check= np.arange(0,len(see))
check=check.tolist()
idx = []


for i in range(0,h):
    if i not in idx:
        k = see.iloc[i,1]
        #top10 = see.iloc[i:m,1]>=k
        ii = 0.1*len(seen)
        top10 = see.iloc[i:len(see),1]#.between(871+ii, 871-ii)
        top10 = pd.DataFrame(top10, columns=['first'])
        top10 = top10[((top10 >= k-ii) & (top10 <= k+ii)).all(axis=1)]
        idx3=list(top10.index.values)
        idx3.remove(i)
        idx.extend(idx3)
        
        #check = set(check) - set(idx3)

p_points_idx = list(set(check) - set(idx))
p_points = see.iloc[p_points_idx]
p_points

   distances  first  second
0  49.327063    192     193
1  49.232875    151     152
2  49.084274    264     265

In [ ]:
group1 = m.iloc[0:26,:]
group2 = m.iloc[26:453,:]
group3 = m.iloc[453:872,:]
group4 = m.iloc[872:1022,:]
group5 = m.iloc[1022:1204,:]
group6 = m.iloc[1204:1401,:]